
.item-img {
    width: 50px;
}

.item-img-big {
    width: 50px;
}

.layout-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    justify-content: space-between;
}

.layout-remains {
    margin: 6px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: cadetblue;
}

.layout-cart {
    margin: 6px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: cadetblue;
}