@page "/addproduct"
@rendermode InteractiveServer
@inject NavigationManager NavManager

<br />
<br />
<br />

<div class="form-group">
    <label for="name">Название</label>
    <input id="name" class="form-control" @bind="@name" />
</div>

<div class="form-group">
    <label for="description">Описание</label>
    <input id="description" class="form-control" @bind="@description" />
</div>

<div class="form-group">
    <label for="pricestr">Цена</label>
    <input id="pricestr" class="form-control" @bind="@pricestr" />
</div>

<div class="form-group">
    <label for="img_url">Изображение</label>
    <input id="price" class="form-control" @bind="@img_url" />
</div>

<button class="btn btn-primary" @onclick="CreateItem">Создать</button>

@code {
    private string name;
    private string description;
    private string pricestr;
    private string img_url;

    private void CreateItem()
    {
        try
        {
            double price = double.Parse(pricestr);
            if (!String.IsNullOrEmpty(name))
            {
                Catalog.AddItem(name, description, price, img_url);
            }
            NavManager.NavigateTo("/products", true);
        }
        catch{}
    }
}
